body {
  font-family: sans-serif;
  margin: 0;
}

div {
  touch-action: none;
}

.main-wrapper {
  min-height: 100vh;
  /* min-width: 370px; */
}

main {
  min-height: calc(100vh - 4em);
}

.habit-wrapper {
  margin: 1em;
  padding-bottom: 1em;   
}

@media (min-width: 600px) {
  main {
    width: 95%;
    margin: auto;
  }
  .grid-wrapper {
    justify-content: center
  }
}

@media (min-width: 900px) {
  main {
    width: 85%;
  }
  .grid-wrapper {
    justify-content: flex-start
  }
}

@media (min-width: 1200px) {
  main {
    width: 90%;
  }
}

@media (min-width: 1600px) {
  main {
    width: 80%;
  }
  .habit-wrapper {
    padding: 1em;
  }
}
